body{
    background: seagreen;
}

#grid_wrapper{
    display: flex;
    justify-content: center;
}

h1{
    color: white;
    text-align: center;
}

#grid_container {
    display: inline-grid;
    border: 1px solid lightgrey;
    background: white;
    margin-top: 2rem;
  }

  .grid-item{
      /* background: white; */
      border: 1px solid black;
  }

  #options{
      display: flex;
      justify-content: center;
  }

  p{
      color: white;
      text-align: center;
      font-weight: bold;
  }

