body{
    background: seagreen;
}

#grid_wrapper{
    display: flex;
    justify-content: center;
}

h1{
    color: white;
    text-align: center;
    font-family: 'Shadows Into Light','Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#grid_container {
    display: inline-grid;
    border: 1px solid lightgrey;
    background: white;
    margin-top: 2rem;
    /* cursor: url('http://www.rw-designer.com/cursor-view/61841.png'), auto; */
    cursor: url('http://www.rw-designer.com/cursor-view/61841.png') 32.5 10, auto;
    
  }

  .grid-item{
      /* background: white; */
      /* border: 1px solid lightgrey; */
  }

  #options{
      display: flex;
      justify-content: center;
  }

  p{
      color: white;
      text-align: center;
      font-weight: bold;
      
  }

  button{
      cursor: pointer;
  }

  #color_scheme{
      margin-top: 0.75rem;
      display: flex;
      justify-content: center;
  }

  label{
      color: white;
  }

  #submitscheme{
      cursor: pointer;
  }

