body{
    background-color: #16A085;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    height: 1050px;
}

#main{
    background: seagreen;
    background: transparent;
    width: 75%;
    margin: 0;
    padding: 0;
    height: 100%;
}

#grid_wrapper{
    display: flex;
    justify-content: center;
}

h1{
    color: white;
    text-align: center;
    font-family: 'Shadows Into Light','Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#grid_container {
    display: inline-grid;
    border: 1px solid lightgrey;
    background: white;
    margin-top: 2rem;
}

  .grid-item{
      /* background: white; */
      /* border: 1px solid lightgrey; */
      /* border-radius: 20px;  */
  }

  #instructions{
      line-height: 1.5rem;
  }

  #options{
      display: flex;
      justify-content: center;
      line-height: 1.5rem;
      gap: 0.25rem;
  }

  p{
      color: white;
      text-align: center;
      font-weight: bold;
      font-size: 1.2rem;
      font-family: 'Akaya Kanadaka', Georgia, 'Times New Roman', Times, serif
  }

  button{
      /* cursor: pointer;
      font-weight: 650;
      font-family:fantasy; */
      box-shadow: 0px 1px 0px 0px #1c1b18;
      background:linear-gradient(to bottom, #eae0c2 5%, #ccc2a6 100%);
      background-color:#eae0c2;
      background: white;
      border-radius:15px;
      border:2px solid #333029;
      display:inline-block;
      cursor:pointer;
      color: black;
      font-family: Arial;
      font-size:14px;
      /* font-weight:bold; */
      padding:12px 16px;
      text-decoration:none;
      text-shadow:0px 1px 0px #ffffff;
  }

  button:hover{
      /* background: white;
      border: 5px solid black; */
      /* background:linear-gradient(to bottom, #ccc2a6 5%, #eae0c2 100%);
      background-color:#ccc2a6; */
      background: whitesmoke;
  }

  button:active {
	position:relative;
	top:1px;
}

  #color_scheme{
      margin-top: 0.75rem;
      display: flex;
      justify-content: center;
  }

  label{
      color: white;
  }

  #submitscheme{
      cursor: pointer;
  }

  input{
      font-family: Tahoma, sans-serif;
      font-weight: bold;
      text-align: center;
  }

  option{
      font-family: 'Shadows Into Light';
  }

  #bgcolor{
      cursor: pointer;
      text-align: center;
  }

  #colors{
      cursor: pointer;
      text-align: center;
  }

  .optioncolor{
      font-family: Arial, Helvetica, sans-serif;
      font-weight: bold;
  }

  ::placeholder{
      color: black;
      font-family: Arial;
      text-decoration: none;
      text-shadow:0px 1px 0px #ffffff;
  }

  footer > p{
      font-family: 'Shadows Into Light', Verdana, Geneva, Tahoma, sans-serif;
      font-size: 2rem;
  }



 

